<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>ChitChat</title>
   
</head>
<body>
    <nav class="navbar">
        <img  class="logo" src="css/logo.png" alt="Logo">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Posts</a></li>
            <li><a href="">Friends</a></li>
        </ul>
        <ul>
            <li>Log in</li>
            <li>Sign in</li>
        </ul>
    </nav>
    <main>
        <div>
            <ul>
                <p>adasasd</p>
            </ul>
        </div>
    </main>
</body>
</html>